*{
    margin: 0%;
    padding: 0%;

}
.navCarrito{
  height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;


    display: flex;
    justify-content: space-around ;
    align-items: center;

   border: blue groove;


}

.imgBicicarrito{
    width: 100%;
    height: 100%;
}
.especificacionProducto{
    color: black ;
}