


/*lb1*/
*{
    margin: 0;
    padding: 0;
   

}



.Lb1{
    align-items: center;
    height: 100%;
    width: 100%;
}

.container1{
    justify-content:space-between;
    display: flex;
   
}

/*frame2*/
.continer2{
    display: flex;
    justify-content:space-between;
    align-items: center;
  
 
    width: 100%;
    height: 10%;
    
}
.aggNota{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
   
}

textarea{
    resize: none;
    background-color: #F0EFEF;

     border-radius: 1%;
     border: none;
}

.increCarrito{
    margin:2% 2%;
    display: flex;
    justify-content: center; 
    align-items: center; 


}

.imgC{
    width: 12%;
    height: 20%;
}
.frame2{
    margin: 5%;
}


/*frame3*/
.containerBtn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.estiloTotal{
    margin: 10%;
}
.btnElininar{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 10%;

}

.btnActualizar{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 8%;
}

/*frame3*/
.frame2{
   display: flex;
   justify-content: space-around;
   align-items: center;
}



.detalleOrden{
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.fondoTotal{
    
    background-color: #F0EFEF;
    border-radius: 10px;
    
     width: 300px;
    height: 200px;

    display: flex;
justify-content: center;
flex-direction: column;
align-items:center ;

   
   
}


.btnEnviar{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 80%;
}



/*footer*/


#fondo{
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;

display: flex;
justify-content:space-between;
align-items:flex-start;





}


.txtinfoSitio{
 
flex-direction: column;



}
.txAyuda{
    flex-direction: column;
    
    
}
.txtContactanos{
    flex-direction: column;
   
}

.icoFooter{
    width: 100px;
    height: 100px;
}
.iconoContacto{
    
    width: 40px;
    height: 40px;

    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
   
    
}
.linkCorreo{
    color: white;
}
.linkNosotros{
    color: white;
}
.copyright{
    background-color: #333333;
color: white;
    width: 100%;
    height: 20px;

    justify-content: center;
    display: flex;
    align-items: center;
}
.todo{
    margin: 2%;
    flex-wrap: wrap;
}


