@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
}
/*HEADER SUPERIOR*/
.logo{
    img{
        width: 90px;
    }
}

.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    width: 300px;
    padding: 10px;
}

/*BARRA MENU*/

.container_menu{
    width: 100%;
    height: 70px;
    background: black;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}
nav>ul >li {
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
}