* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-img {
   
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.header {
    width: 66%;
    height: 6em;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between ;
   

}
.nav {
    width: 100%;
    height: 4em;
    background-color: black;
}
.logo {
    object-fit: cover;
    height: 80px;
    width: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.barnav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu {
    width: 10%;
    height: 100%;
   
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}


.menu:hover {
    background-color: blue;
}

.banner {

    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    
    

}
.title {
    position: absolute;
    margin: 50px;

    color: white; /* Color del texto */
    font-size: 80px; /* Tamaño de fuente */
}
.title1 {
    position: absolute;
    display: flex;
  margin: 21%;
    font-size: 30px;
    color: white; /* Color del texto */
   
}

.title2{
    color: black;
    margin-bottom: 30px;
    margin-right: 8em;
    font-size: 30px;
    display: flex;
    
}
.caja{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.507);
}

.article {
    position: relative;
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {

    width: 100%;
    height: 20em;
    background-color: black;
    color: white;

display: flex;
justify-content:space-between;
align-items:self-start;
position:static;

}


.galery {
  
    width: 70%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    
    
}

.box-galery {
  
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 39%;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}



*{
    padding: 0%;
    margin: 0%;

}



.txtinfoSitio{
    
flex-direction: column;

}
.txAyuda{
    flex-direction: column;
    
    
}
.txtContactanos{
    flex-direction: column;
   
}

.icoFooter{
    width: 100px;
    height: 100px;
}
.iconoContacto{
    
    width: 40px;
    height: 40px;

    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}
.linkCorreo{
    color: white;
}
.linkNosotros{
    color: white;
}
.copyright{
    background-color: #333333;
color: white;
    width: 100%;
    height: 20px;

    justify-content: center;
    display: flex;
    align-items: center;
}

navar
.navvarInicio{
    display: flex;
    justify-content: space-evenly;

}

.btn-img {
 
    background-color: blue;
    text-decoration: none;
    padding: 0.5em 3em;
    color: aliceblue;
    font-size: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
}

.btn-imgs {
    position: absolute;
    background-color: blue;
    text-decoration: none;
    padding: 0.5em 3em;
    color: aliceblue;
    font-size: 1em;
    margin-top: 100px;

    border-radius: 0.5em;
   
}


.frase {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 17%;
    color: wheat;
    display: flex;
    border-radius: 5px;
    
    
    
}
.frase1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 40%;
    color: wheat;
    border-radius: 5px;
}



