
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

body {
    background-image: url(../IMG/frame56\,57\,58.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment:fixed ;
    background-size: cover;
    }

h2 { margin: 1rem 0 2rem 0; text-align: center; } 

h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

label {
    padding-left: 16px;
    opacity: 0.75;
}

input {
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #eaeeed;
}

    input { display: flex; 
        border-radius: 50px; 
        border-style: none; 
        outline: none; 
        margin-top: 35px; 
        padding: 15px; 
        width: 250px;
         background-color: #eaeeed; 
         box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);} 
         
         input:focus { opacity: 0.7; }
         
         button { 
            padding: 12px 48px; 
            border-radius: 50px; 
            color: white; 
            margin-top: 35px; 
            cursor: pointer;
             outline: none; 
             border-width: 0; 
             background-color: #0038fe; 
             font-weight: 600; 
<<<<<<< HEAD
             width: 100%; } 
             body {background-image: url(../IMG/frame56\,57\,58.png);}
=======
             width: 100%; 
             box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);} 
             
>>>>>>> ff06e06e075f560b4121bb95cf22d55251436bd6

button {
    padding: 12px 48px;
    border-radius: 50px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #0038fe;
    font-weight: 600;
    width: 100%;
}

body {
    background-image: url(/IMG/frame56\,57\,58.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.forma {
    display: flex;
    flex-direction: column;
}



.main{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.columna {
    height: 100vh;
    background-color: #00000070;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.imgrd {
    height: 300px;
    width: 300px;
}

.upper-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 370px);
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px; /* Ancho fijo */
    height: 500px; /* Altura adaptable al contenido */
    background-color: white;
    border-radius: 20px;
    position: fixed; /* Cambiar de posición absoluta a fija */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    
}
.alineartext {
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: column;
}

.texto {
    color: white;
    font-size: 69px;
    font-family: "";
}

.signup {
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #21d4fd;
}

.bottom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
 
